{% extends "base.html" %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" type="text/css" href={% static "user_handler/register_login.css" %}>
{% endblock %}

{% block title %}
Licytacja
{% endblock %}

{% block content %}

</div>
<div class="container">
<div class="left_margin"></div>
<div class="content">

Czy chcesz potwierdzić poniższą licytację?
<br>
<br>
Tytuł: {{object.title}}
<br>
<br>
Twoja kwota: {{object.update_price}}
<br>
<br>

<form action="" method="post" class="searchbox">
    <input type="submit" value="Potwierdź" class="button" name="confirm">
    <input type="submit" value="Odrzuć" class="button" name="reject">
</form>

{% endblock %}